* {
    margin: 0;
    padding: 0;
    list-style: none;
}
html, body{
    height: 100%;
}
.lt_container {
    min-width: 320px;
    max-width: 640px;
    width: 100%;
    height: 100%;
    background-color: white;
    margin: 0 auto;
    position: relative;
    padding: 45px 0 55px 0;
}
.header {
    height: 45px;
    width: 100%;
    background-color: #069;
    position: absolute;
    top: 0;
    left: 0;
    color: white;
}
.header .home,
.header .search {
    height: 100%;
    width: 45px;
    position:absolute;
    top: 0;
    text-align: center;
    line-height: 45px;
    color: white;
}
.header .home {
    left: 0;
}
.header .search {
    right: 0;
}
.header h4 {
    height: 100%;
    text-align: center;
    font-weight: normal;
    line-height: 45px;
    margin: 0;
}
.footer {
    height: 55px;
    width: 100%;
    background-color: #069;
    position: absolute;
    bottom: 0;
    left: 0;
}
.footer li {
    float: left;
    width: 25%;
    /*height: 55px;*/
    padding-top: 8px;
}
.footer li.active a,
.footer li.active p {
    color: darkorange;
}
.footer a {
    display: block;
    text-align: center;
    width: 60px;
    margin: 0 auto;
    color: white;
}
.footer a p{
    margin: 0;
    color: white;
    font-size: 12px;
}
.main {
    height: 100%;
    width: 100%;
    /*background-color: yellow;*/
    position: relative;
    overflow: hidden;
}

.main .product li {
    /*height: 420px;*/
    float: left;
    width: 46%;
    border: 1px solid #ccc;
    margin:0 2% 10px;
    /*margin-bottom: ;*/
}
.main .product a{
    display: block;
    text-align: center;
    padding-bottom: 10px;
}
.main .product img {
    width: 100%;
    display: block;
}
.main .product span:first-child{
    color: red;
}
.main .product span:last-child{
    text-decoration: line-through;
}

.main .search {
    padding: 10px;
}
.search input {
    height: 34px;
    border: 1px solid #007aff;
    font-size: 12px;
    border-radius: 5px
}
.search button {
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 0 5px 5px 0;
}
.product {
    padding-top: 10px;
}

